[submodule "slashing-protection/referencetests/src/test/resources/slashing-protection-interchange-tests"]
	path = slashing-protection/referencetests/src/test/resources/slashing-protection-interchange-tests
	url = https://github.com/eth-clients/slashing-protection-interchange-tests.git
